# Set:
------

1. Set is collection of data type. Store n number of values different data type values in a single variable.
2. Declare - { }
3. Set is mutable (changable)
4. Store values based on non Index
5. Remove Douplicate Values

In [1]:
ageValues = {10, 18, 20, 16, 25, 10, 25, 10}

print(ageValues, type(ageValues))

{16, 18, 20, 25, 10} <class 'set'>

In [2]:
for i in ageValues:
    print(i)

16
18
20
25
10

# Add Value
-----------

In [3]:
ageValues = {10, 18, 20, 16, 25, 10, 25, 10}

print(ageValues, type(ageValues))

print('-------------------------------------------')

ageValues.add(50)

print('-------------------------------------------')

print(ageValues)

{16, 18, 20, 25, 10} <class 'set'>
-------------------------------------------
-------------------------------------------
{16, 18, 50, 20, 25, 10}

In [4]:
a = {1, 3, 4, 6, 8, 0, 2, 5 }

print(a)

{0, 1, 2, 3, 4, 5, 6, 8}

# Add Two Set Variables
-----------------------

In [5]:
set01 = {101, 'Sara', 25, 101}

set02 = {'sara@gmai.com', True, 25}

set01.update(set02)

print(set01)

{'Sara', True, 101, 25, 'sara@gmai.com'}

# Delete Values Using Discard Method:
-------------------------------------

In [9]:
set01 = {101, 'Sara', 25, 101}

print(set01)

print('-------------------------------------')

set01.discard('Sara')

print(set01)

print('-------------------------------------')

set01.discard('sara@gmail.com')

print(set01)

{'Sara', 25, 101}
-------------------------------------
{25, 101}
-------------------------------------
{25, 101}

# Delete Values Remove Method:
------------------------------

In [12]:
set01 = {101, 'Sara', 25, 101}

print(set01)

print('-------------------------------------')

set01.remove('Sara')

print(set01)

print('-------------------------------------')

set01.remove('sara@gmail.com')

print(set01)

{'Sara', 25, 101}
-------------------------------------
{25, 101}
-------------------------------------

KeyError: 'sara@gmail.com'

# Union
-------

In [13]:
set01 = {1, 2, 3, 4, 5}

set02 = {4, 5, 6, 7, 8}

format01 = set01.union(set02)

print(format01)

{1, 2, 3, 4, 5, 6, 7, 8}

# Intersect:
------------

In [15]:
set01 = {1, 2, 3, 4, 5}

set02 = {4, 5, 6, 7, 8}

format01 = set01.intersection(set02)

print(format01)

{4, 5}

# Symmetric_Difference:
-----------------------

In [16]:
set01 = {1, 2, 3, 4, 5}

set02 = {4, 5, 6, 7, 8}

format01 = set01.symmetric_difference(set02)

print(format01)

{1, 2, 3, 6, 7, 8}