# Date Time Module
------------------

In [5]:
import datetime as dt

# Date
------

In [6]:
curruntDate = dt.date.today()

print(curruntDate)

2025-12-02

In [7]:
userDate = dt.date(2025, 10, 21)

print(userDate)

2025-10-21

Diff between two dates
----------------------

In [10]:
diffTwoDate = curruntDate - userDate

print(diffTwoDate)

42 days, 0:00:00

# Date with Time
----------------

In [11]:
currentDateTime = dt.datetime.now()

print(currentDateTime)

2025-12-02 10:43:44.613007

In [13]:
userDateTime = dt.datetime(2025, 10, 21, 8, 45, 45)

print(userDateTime)

2025-10-21 08:45:45

Date Time Format
----------------

In [15]:
currentDateTime = dt.datetime.now()

print(currentDateTime)

print('-----------------------------------------')

format01 = currentDateTime.strftime('%A')

print(format01)

print('-----------------------------------------')

format02 = currentDateTime.strftime('%A - %B / %d / %Y')

print(format02)

2025-12-02 10:48:45.961671
-----------------------------------------
Tuesday
-----------------------------------------
Tuesday - December / 02 / 2025

Split Date & Time
-----------------

In [16]:
currentDateTime = dt.datetime.now()

print(currentDateTime)

print('-----------------------------------------')

2025-12-02 10:50:30.913769
-----------------------------------------

In [17]:
dateValue = currentDateTime.date()

print(dateValue)

2025-12-02

In [18]:
timeValue = currentDateTime.time()

print(timeValue)

10:50:30.913769

# Random Module:
----------------

In [21]:
import random as rn

In [26]:
x = rn.randint(1, 10)

print(x)

2

In [30]:
nameValues = ['Tamil', 'English', 'Maths', 'Sci']

listFormat = rn.choice(nameValues)

print(listFormat)

Sci