Python Class 01
---------------

In [1]:
print('Hello Python!..')

Hello Python!..

Data Types & Variable
---------------------

0 to 9 - Integer(int)

10.5,.. - Float(float)

'', a to z, A to Z, Special Charecters(!,@,#,$,...) - String(str) using with in ''

True, False - Boolean (bool)

In [4]:
# Data Types & Variable

a = 10

b = 10.5

c = 'Sara'

d = True

print(a)
print(b)
print(c)
print(d)

10
10.5
Sara
True

In [5]:
# To Find the Data type

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# Concatination
---------------

In [6]:
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

10 <class 'int'>
10.5 <class 'float'>
Sara <class 'str'>
True <class 'bool'>

In [8]:
a = 10

b = 2

print(a + b) 

print(a, ' + ', b, ' = ', a + b) # 10 + 2 = 12

12
10  +  2  =  12

In [ ]:
'''
To Day Task

10 + 2 = 12

10 - 2 = 8

10 * 2 = 20

10 / 2 = 5
'''