Python Operators:
-----------------

1. Arithmetic Operators
2. Arithmetic Assignment Operators
3. Relational or Comparision Operators
4. Logical Operators
5. Membership Operators
6. Identiti Operators
7. BitWise Operators

# 01 Arithmetic Operators
-------------------------

+, -, *, /, %, **, //

In [12]:
a = 7
b = 2

print('Addtion (+) : ', a + b)
print('Subtraction (-) : ', a - b)
print('Multiplication (*) : ', a * b) # 10 * 2
print('Division (/) : ', a / b) # Return Qutiont

print('Modulas (%) : ', a % b) # Return Remainder
print('Floor Divsion (//) : ', a // b)
print('Exponentiation (**) : ', a ** b) # 7 ** 2 - 7 * 7
print('Exponentiation (**) : ', a ** 3) # 7 ** 3 - 7 * 7 * 7

Addtion (+) :  9
Subtraction (-) :  5
Multiplication (*) :  14
Division (/) :  3.5
Modulas (%) :  1
Floor Divsion (//) :  3
Exponentiation (**) :  49
Exponentiation (**) :  343

# 02 Arithmetic Assignment Operators
------------------------------------

In [13]:
# Assignment Operators

a = 10

print(a)

# Arithmetic Assignment Operators

a += 2 # a = a + 2

print(a)

10
12

# 03 Relational or Comparision Operators
----------------------------------------

<, >, <=, >=, ==, !=

In [19]:
print(10 < 2)

print(10 > 2)

print(10 == 2)

print(10 != 2)

False
True
False
True

# 04 Logical Operators
----------------------

and, or, not

and - True + True = True, Other wise False

or - True + False = True, False + True = True, True + True = True, False + False = False,

not - True return False, False return True

In [25]:
print(10 < 2)

print(10 > 2)

print((10 < 2) and (10 > 2))

print((10 < 2) or (10 > 2))

print(not(10 < 2))

False
True
False
True
True

# 05 Membership Operators
-------------------------

in, not in

In [33]:
a = ['Sara', 'Lara', 'Ram', 'Sam']

print(a)

print('-----------------------------------------------')

print('Sara' in a)

print('sara' in a)

print('Priya' not in a)

['Sara', 'Lara', 'Ram', 'Sam']
-----------------------------------------------
True
False
True

# 06 Identiti Operators
-----------------------

is, is not

In [39]:
a = 10

b = 10

print(a == b)

print(id(a))

print(id(b))

print(a is b)

print(a is not b)

True
140718083941576
140718083941576
True
False

# Operators Examples
--------------------

In [1]:
# Example 01

# The area of a circle is calculated using A = πr²

pi = 3.14

r = 10

A = pi * r * r # (3.14 * 10 * 10)

print('The area of a circle : ', A)

The area of a circle :  314.0

In [2]:
age = 26

print(2025 - 26)

1999