Conditional Statements:
-----------------------

IF:
---

In [5]:
age = 22

if age >= 18:
    print(age , ' is eligible for vote')

22  is eligible for vote

IF & ELSE
---------

In [8]:
# Example 01

age = 12

if age >= 18: 
    print(age , ' is eligible for vote')
else:
    print(age , ' is not eligible for vote')

12  is not eligible for vote

In [11]:
# Example 02

age = 69

if age >= 18 and age <= 58: 
    print(age , ' is eligible for Job')
else:
    print(age , ' is not eligible for Job')

69  is not eligible for Job

IF ELIF ELSE:
-------------

In [7]:
age  = 12

if age > 18: 
    print(age, 'is 18+')
elif age == 18: 
    print(age, 'is 18=')
elif age == 17: 
    print(age, 'is 17')
else:
    print(age, 'is 18-')

12 is 18-

Nested IF:
----------

In [40]:
# Example 01

m1 = 95
m2 = 90
m3 = 95

if m1 >= 35 and m2 >= 35 and m3 >= 35:
    print('Pass!..')
    total = m1 + m2 + m2
    avg = total / 3

    print('Total : ', total)
    print('Average : ', avg)

    if avg >= 90 and avg <= 100:
        print(avg, ' A+ Grade')
    elif avg >= 80 and avg <= 90:
        print(avg, ' B+ Grade')
    else:
        print(avg, 'D Grade')

else:
    print('Fail!..')

    if m1 <= 35:
        print(m1, ' So Fail!..')
        
    if m2 <= 35:
        print(m2, ' So Fail!..')

    if m3 <= 35:
        print(m3, ' So Fail!..')

Pass!..
Total :  275
Average :  91.66666666666667
91.66666666666667  A+ Grade

In [41]:
# Example 02

m1 = 24
m2 = 34
m3 = 13

if m1 >= 35 and m2 >= 35 and m3 >= 35:
    print('Pass!..')
    total = m1 + m2 + m2
    avg = total / 3

    print('Total : ', total)
    print('Average : ', avg)

    if avg >= 90 and avg <= 100:
        print(avg, ' A+ Grade')
    elif avg >= 80 and avg <= 90:
        print(avg, ' B+ Grade')
    else:
        print(avg, 'D Grade')

else:
    print('Fail!..')

    if m1 <= 35:
        print(m1, ' So Fail!..')
        
    if m2 <= 35:
        print(m2, ' So Fail!..')

    if m3 <= 35:
        print(m3, ' So Fail!..')

Fail!..
24  So Fail!..
34  So Fail!..
13  So Fail!..

Type Casting:
-------------

In [44]:
a = 10

print(a, type(a))

b = float(a)

print(b, type(b))

10 <class 'int'>
10.0 <class 'float'>

In [47]:
avg = 91.678

print(avg, type(avg))

ans = int(avg)

print(ans, type(ans))

91.678 <class 'float'>
91 <class 'int'>

ToDay Task:
-----------

1. The given number is odd or even
2. To write the code for below output
name = ['Sara', 'Lara', 'Thara']

Output01:
---------
    ['Sara', 'Lara', 'Thara']

    Sara is in your Class

Output02:
---------
    ['Sara', 'Lara', 'Thara']
    
    Ram is not in your class

In [2]:
age = 18

if not(age >= 18):
    print('18 or 18+')