Loop Statements:
----------------

1. While Loop
2. For Loop

1. While Loop
-------------

In [7]:
i = 0 # Value Intial

while i <= 10: # 11 <= 10 Value Conditional Ckeck
    print(i)

    i += 1 # Value Increment

0
1
2
3
4
5
6
7
8
9
10

In [9]:
# Even number

i = 0 

while i <= 10: 
    print(i)

    i = i + 2

0
2
4
6
8
10

In [10]:
# Odd number

i = 1 

while i <= 10: 
    print(i)

    i = i + 2

1
3
5
7
9

In [ ]:
'''
ToDay Task
----------

1. To write the python code for below output

Enter a Limit value: 5

1, 3, 5

2. To write the python code for below output

Enter a Limit value: 5

0, 2, 4


'''

In [12]:
i = 0 

while i <= 10: 
    print(i, end = ' - ')

    i += 1

0 - 1 - 2 - 3 - 4 - 5 - 6 - 7 - 8 - 9 - 10 -

In [13]:
i = 1
t = 2
limit = 5

while i <= limit: 
    print(i, ' X ', t, ' = ', i * t)

    i = i + 1

1  X  2  =  2
2  X  2  =  4
3  X  2  =  6
4  X  2  =  8
5  X  2  =  10

In [ ]:
'''
ToDay Task
----------

1. To write the python code for below output

Enter a limit value: 5
Enter a table value: 2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
'''

# Break
-------

In [2]:
i = 0

while i <= 10:
    print(i)

    if i == 5:
        print('Before Break')
        i = i + 1
        break
        print('After Break')

    i = i + 1

0
1
2
3
4
5
Before Break

# Continue
----------

In [3]:
i = 0

while i <= 10:
    print(i)

    if i == 5:
        print('Before continue')
        i = i + 1
        continue
        print('After continue')

    i = i + 1

0
1
2
3
4
5
Before continue
6
7
8
9
10

# Pass:
-------

In [5]:
i = 0

while i <= 10:
    print(i)

    if i == 5:
        print('Before continue')
        i = i + 1
        pass
        print('After continue')

    i = i + 1

0
1
2
3
4
5
Before continue
After continue
7
8
9
10

For Loop:
---------

deafult value Inital is 0
default value Increment is 1

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
# Odd Numbers

for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [3]:
# Even Numbers

for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [6]:
for i in range(2):
    name  = input('Enter your Name : ')
    age = int(input('Enter your Age : '))
    
    print(name, ' your age is ', age)
    print('')

Enter your Name :  Selva
Enter your Age :  26

Selva  your age is  26

Enter your Name :  Kumar
Enter your Age :  25

Kumar  your age is  25

Nested Loop:
------------


Step 01:
i = 1
j = 0
0 < 1 True - 1
j = 1
1 < 1 False

step 02:
i = 2
j = 0
0 < 2 True - 2
j = 1
1 < 2 True - 2
j = 2
2 < 2 False

In [14]:
for i in range(1,6):
    for j in range(i):
        print(i, end= ' ')

    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [18]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end= ' ')

    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [19]:
for i in range(1,6):
    for j in range(i):
        print('*', end= ' ')

    print('')

*
* *
* * *
* * * *
* * * * *

In [27]:
for i in range(5, 0, -1):
    for j in range(i):
        print(i, end=' ')

    print('')

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [29]:
print(chr(65))

'''
A
AB
ABC
ABCD
ABCDE
'''

A