List:
-----
1. List is collection of data type. Store n number of values different data type values in a single variable.
2. Declare - [ ]
3. List is mutable (changable)
4. Store values based on Index(starting position id 0)

In [ ]:
'''

0	     1	    2   	3
101 	Sara	25	  TRUE
-4	    -3	   -2	   -1

'''

In [2]:
details = [101, 'Sara', 25, True]

print(details, type(details))

[101, 'Sara', 25, True] <class 'list'>

In [4]:
# Left to Right Index Position

print(details[1], type(details[1]))

Sara <class 'str'>

In [5]:
# Right to Left Index Position

print(details[-3])

Sara

In [6]:
if 'Sara' in details:
    print('Yes')
else:
    print('No')

Yes

In [9]:
indx = 0

for i in details:
    print(indx, ' - ', i)

    indx += 1

0  -  101
1  -  Sara
2  -  25
3  -  True

# Update Value:
---------------

In [10]:
details = [101, 'Sara', 25, True]

print(details)

[101, 'Sara', 25, True]

In [12]:
print(details[2])

details[2] = 30

print(details[2])
print(details)

25
30
[101, 'Sara', 30, True]

# Add Value:
------------

In [13]:
details = [101, 'Sara', 25, True]

print(details)

[101, 'Sara', 25, True]

In [14]:
details.append('sara@gmail.com')

print(details)

[101, 'Sara', 25, True, 'sara@gmail.com']

# Add Two List Variable
-----------------------

In [15]:
details01 = [101, 'Sara', 25, True]

details02 = ['IFSC00001', '0000AC1111']

details01.extend(details02)

print(details01)

[101, 'Sara', 25, True, 'IFSC00001', '0000AC1111']

# Remove Value:
---------------

In [16]:
details = [101, 'Sara', 25, True]

print(details)

[101, 'Sara', 25, True]

In [17]:
details.remove('Sara')

In [18]:
print(details)

[101, 25, True]

# Remove Values Index base:
---------------------------

In [23]:
details = [101, 'Sara', 25, True]

print(details)

[101, 'Sara', 25, True]

In [24]:
print(details[1])

Sara

In [25]:
details.pop(1)

print(details)

[101, 25, True]

In [ ]:
'''
ToDay Task
Question 01:

[10, 20, 22, 25, 40, 44, 43, 42]

Odd:
[25, 43]

Even:
[10, 20, 22, 40, 44, 42]

------------------------------------------------

Question 02:

[10, 20, 22, 25, 40, 44, 43, 42]

Above 18:
[20, 22, 25, 40, 44, 43, 42]

Below 18:
[10]

'''

In [5]:
# Question 01

listValues = [10, 20, 22, 25, 40, 44, 43, 42]

oddValues = []
evenValues = []

for i in listValues:
    if ((i % 2) == 0):
        evenValues.append(i)
    else:
        oddValues.append(i)

print(evenValues)

print(oddValues)

[10, 20, 22, 40, 44, 42]
[25, 43]

In [6]:
print(10 % 2)

0

In [10]:
mobile = 9500912258

print(mobile)

print(len(str(mobile)))

9500912258
10